@import '../../scss/helsinki/custom-styles';
@import '../../scss/helsinki/variables';
 
.koroBg .koroContent {
  color:$hel-black;
  background: $hel-coat;
  padding: 20px 15px;
}
 
.koroBg:before {
  height: 50px;
  content: '';
  display: block;
  @include koro('pulse', $hel-coat, 465);
}

.logoHel{
  line-height: 50px;
  @include helsinki-logo($hel-black)
}