@import '../../scss/helsinki/custom-styles';
@import '../../scss/helsinki/variables';

.footer {
  min-height: 300px;
  padding: 7.5rem 0 5rem;
  @include koro(pulse, $hel-coat, 460);
}

.logo {
  padding-bottom: 5rem;
  width: 180px;
}

.icon {
  color: $hel-light;
  padding: 10px;
}
